:root {
  --color-light-aqua: #3af;
  --color-light-bittersweet: #f60;
  --color-light-bluejeans: #48f;
  --color-light-grass: #7b0;
  --color-light-mint: #0ed;
  --color-light-pink: #e06;
  --color-light-pinkrose: #c4f;
  --color-light-sunflower: #fc0;
  --color-light-lavander: #34f;
  --color-light-light: #f5f7fa;
  --color-light-medium: #ccd1d9;
  --color-light-dark: #656d78;

  --color-dark-aqua: #3af;
  --color-dark-bittersweet: #f60;
  --color-dark-bluejeans: #48f;
  --color-dark-grass: #7c0;
  --color-dark-mint: #0ed;
  --color-dark-pink: #e06;
  --color-dark-pinkrose: #c4f;
  --color-dark-sunflower: #fc0;
  --color-dark-lavander: #34f;
  --color-gray-light: #e6e9ed;
  --color-gray-medium: #aab2bd;
  --color-gray-dark: #333;

  --page-bg: #010409;
  --hover: rgba(100, 100, 100, 100%);
  --font: #999;
  --font-color: #fefefe;
  --font-faded: #444;
  --guitar-bg: rgba(255, 255, 255, 6%);
  --guitar-nut: var(--hover);
  --guitar-headstock: #080808;
  --guitar-string: rgba(255, 255, 255, 5%);
  --guitar-shadow: #000;
  --guitar-fret: rgba(0, 0, 0, 15%);
  --guitar-fretboard-dot: rgba(255, 255, 255, 5%);
  --note-color-0: var(--color-dark-aqua);
  --note-color-1: var(--color-dark-pink);
  --note-color-2: var(--color-dark-bittersweet);
  --note-color-3: var(--color-dark-sunflower);
  --note-color-4: var(--color-dark-mint);
  --note-color-5: var(--color-dark-grass);
  --note-color-6: var(--color-dark-pinkrose);
  --note-color-7: var(--color-dark-lavander);
  --note-color-8: var(--color-gray-dark);
  --guitar-string-width-xs: 1px;
  --guitar-string-width-s: 1.6px;
  --guitar-string-width-m: 1.9px;
  --guitar-string-width-l: 3px;
  --guitar-string-width-xl: 4px;
  --guitar-string-width-xxl: 5px;
  --button-bg: rgba(255, 255, 255, 4%);
  --button-fg: rgba(255, 255, 255, 5%);
  --button-border: rgba(255, 255, 255, 15%);
}

/* tuned https://i.pinimg.com/originals/2e/9f/63/2e9f6323123859937b6ef88834db2adb.jpg */
.theme--light {
  --note-color-0: var(--color-light-aqua);
  --note-color-1: var(--color-light-pink);
  --note-color-2: var(--color-light-bittersweet);
  --note-color-3: var(--color-light-sunflower);
  --note-color-4: var(--color-light-mint);
  --note-color-5: var(--color-light-grass);
  --note-color-6: var(--color-light-pinkrose);
  --note-color-7: var(--color-light-lavander);
  --note-color-8: var(--color-gray-dark);
}

body {
  color: var(--font);
  background-color: var(--page-bg);
  counter-reset: scale;
  font-size: 0.875em;
}

.center-text {
  text-align: center;
}

.guess {
  cursor: pointer;
}

.guitar-container {
  width: 100%;
  overflow-x: auto;
  margin: 0.2rem 0;
}

.guitar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px var(--guitar-shadow);
  background-color: var(--guitar-bg);
  overflow-x: auto;
  flex-wrap: nowrap;
  min-width: 48rem;
  user-select: none;
}

.guitar--faded {
  color: var(--font-faded);
}

.guitar-string {
  display: flex;
  user-select: none;
  position: relative;
}

.guitar-string:after {
  content: " ";
  position: absolute;
  left: 0;
  right: 0;
  pointer-events: none;
}
.guitar-string:nth-child(1):after {
  top: calc(50% - var(--guitar-string-width-xs));
  border-top: var(--guitar-string-width-xs) solid var(--guitar-string);
}
.guitar-string:nth-child(2):after {
  top: calc(50% - var(--guitar-string-width-s));
  border-top: var(--guitar-string-width-s) solid var(--guitar-string);
}
.guitar-string:nth-child(3):after,
.guitar-string:nth-child(4):after {
  top: calc(50% - var(--guitar-string-width-m));
  border-top: var(--guitar-string-width-m) solid var(--guitar-string);
}
.guitar-string:nth-child(5):after,
.guitar-string:nth-child(6):after {
  top: calc(50% - var(--guitar-string-width-l));
  border-top: var(--guitar-string-width-l) solid var(--guitar-string);
}
.guitar-string:nth-child(7):after {
  top: calc(50% - var(--guitar-string-width-xl));
  border-top: var(--guitar-string-width-xl) solid var(--guitar-string);
}
.guitar-string:nth-child(8):after {
  top: calc(50% - var(--guitar-string-width-xxl));
  border-top: var(--guitar-string-width-xxl) solid var(--guitar-string);
}

.guitar-string .guitar-nut {
  border-right: 0.3rem solid;
  border-color: var(--guitar-nut);
  background-color: var(--guitar-headstock);
  width: 60%;
}

.guitar-nut,
.guitar-fret {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  margin: 0 1px;
  height: 2rem;
  width: 100%;
  font-family: Helvetica;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.guitar-fret {
  background-color: var(--guitar-fret);
  transition: all 0.1s;
}

/* hide non-frontmost note names */
.scale-note:not(:last-child):after {
  content: " ";
}

.scale-note {
  position: relative;
  display: block;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
}

.scale-note ~ .scale-note {
  margin-left: -20%;
}
.scale-note:first-child:before,
.scale-note ~ .scale-note:before {
  border: 1px solid rgba(0, 0, 0, 60%);
  box-shadow: -1px 0px 5px 2px rgba(0, 0, 0, 50%);
}

.guitar-fret:hover .scale-note:before {
  box-shadow: 0px 0px 5px var(--hover);
}
.guitar-fret:hover .scale-note:not(.scale-note--color):before {
  background-color: var(--hover);
}

.scale-note--color:before,
.scale-note--color:after,
.guitar-fret:hover .scale-note:before,
.guitar-fret:hover .scale-note:after {
  content: " ";
  position: absolute;
  display: block;
  top: calc(50% - 0.7rem - 1px);
  right: calc(50% - 0.7rem - 1px /* .scale-note border */);
  border: 1px solid transparent;
  border-radius: 20rem;
  width: 1.3rem;
  height: 1.3rem;
}

.guitar-fret:active .scale-note:before,
.guitar-fret:active .scale-note:after {
  filter: brightness(75%);
}

.scale-note--color:before {
  transition: all 0.1s;
  /* background-color from script */
}

.guitar-fret:hover .scale-note:after,
.scale-note--color:after {
  content: attr(data-note);
  line-height: 2;
  right: calc(50% - 0.7rem - 1px);
  color: var(--font-color);
}

.guitar--with-highlight .scale-note:after {
  filter: brightness(60%);
}

.guitar--with-highlight .scale-note--color-highlight:after {
  filter: brightness(100%);
}

.scale-note--color-0:after {
  background-color: var(--note-color-0);
}
.scale-note--color-1:after {
  background-color: var(--note-color-1);
}
.scale-note--color-2:after {
  background-color: var(--note-color-2);
}
.scale-note--color-3:after {
  background-color: var(--note-color-3);
}
.scale-note--color-4:after {
  background-color: var(--note-color-4);
}
.scale-note--color-5:after {
  background-color: var(--note-color-5);
}
.scale-note--color-6:after {
  background-color: var(--note-color-6);
}
.scale-note--color-7:after {
  background-color: var(--note-color-8);
}
.scale-note--color-8:after {
  background-color: var(--note-color-8);
}

.guitar-string:nth-child(3) .guitar-fret:nth-of-type(2n + 4):after,
.guitar-string:nth-child(2) .guitar-fret:nth-of-type(13):after,
.guitar-string:nth-child(4) .guitar-fret:nth-of-type(13):after,
.guitar-string:nth-child(2) .guitar-fret:nth-of-type(25):after,
.guitar-string:nth-child(4) .guitar-fret:nth-of-type(25):after {
  content: " ";
  background-color: var(--guitar-fretboard-dot);
  position: absolute;
  right: calc(50% - 0.5rem);
  bottom: -0.5rem;
  border-radius: 20rem;
  width: 1rem;
  height: 1rem;
}

.guitar-string:nth-child(3) .guitar-fret:nth-of-type(12):after,
.guitar-string:nth-child(3) .guitar-fret:nth-of-type(14):after,
.guitar-string:nth-child(3) .guitar-fret:nth-of-type(24):after {
  content: none;
}

.buttons {
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 0.25rem;
  margin: 0.25rem 0;
  user-select: none;
}
.buttons:first-child {
  margin-top: 0;
}
.buttons:last-child {
  margin-bottom: 0;
}

.button,
.button:active,
.button:focus {
  background: transparent;
  background-color: var(--button-bg);
  outline: none;
  border-radius: 3px;
  border: 1px transparent solid;
  color: var(--font-faded);
  cursor: pointer;
  font-size: 0.8rem;
  text-align: center;
  font-family: Arial;
  line-height: 1.5rem;
  min-width: 1rem;
  padding: 0.1rem 0;
  user-select: none;
  box-shadow: none;
  transition: all 0.05s;
}
.button--selected,
.button--selected:active,
.button--selected:focus {
  background-color: var(--button-fg);
  border-color: var(--button-border);
  color: var(--font);
}
.button--square {
  border-radius: 0;
}
.button--huge {
  margin: 1rem;
  font-size: 1rem;
  line-height: 2rem;
}

.button:hover,
.button:focus {
  box-shadow: 0px 0px 5px var(--hover);
}
.button:active {
  filter: brightness(85%);
}

/* buy me a coffee */
.bmc-btn-container {
  text-align: right;
  transition: transform;
  transform: scale(0.5);
  transform-origin: bottom right;
}

.bmc-btn-container .bmc-btn {
  margin-right: 1rem;
  text-align: left;
}

.bmc-btn-container .bmc-btn {
  transition: all 0.1s;
  filter: grayscale(100%);
  filter: brightness(20%);
}

.bmc-btn-container .bmc-btn:active,
.bmc-btn-container .bmc-btn:focus,
.bmc-btn-container .bmc-btn:hover {
  filter: grayscale(0%);
  filter: brightness(100%);
}

.column {
  display: grid;
  gap: 0.25rem;
  margin: 0.05rem 0;
  grid-template-columns: 1.5rem 1fr 1.5rem;
}
.column-col {
  display: grid;
  align-self: stretch;
  padding: 0.25rem 0;
}

.condensed .guitar-buttons {
  display: none;
}
.guitar-buttons-wrapper {
  display: grid;
  counter-increment: scale;
  justify-content: stretch;
}
.guitar-buttons-wrapper .guitar-buttons-opener {
  display: none;
}
.condensed .guitar-buttons-wrapper .guitar-buttons-opener {
  display: block;
  align-self: stretch;
}
.condensed .guitar-buttons-wrapper .guitar-buttons-opener:after {
  content: "Scale " counter(scale);
}
.condensed .guitar-buttons-wrapper:focus-within .guitar-buttons-opener {
  opacity: 0;
  position: absolute;
  top: -10000px;
}
.condensed .guitar-buttons-wrapper:focus-within .guitar-buttons {
  display: block;
  height: auto;
}

.explore-example {
  text-decoration: none;
  color: var(--color-dark-bluejeans);
}

.explore-example:focus,
.explore-example:active {
  text-decoration: none;
  color: var(--color-dark-bluejeans);
  filter: brightness(70%);
}
